@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  /* background-color: LightGray; */
  background-color: rgb(54, 54, 54);
  color: #bdbdbd;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 8px 6px -6px black;
  transition: all 0.2s ease-in-out;
}
.header :hover {
  /* transform: scale(1.1); */
  color: #ffffff;
}
.h1 {
  text-align: center;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}
.box {
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  -webkit-flex: 1;
  color: #f1f1f1;
  -ms-flex: 1;
  flex: 1;
  width: auto;
  padding: 10px;

  box-shadow: 0 8px 6px -6px black;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Create three equal columns that sits next to each other */
.column1 {
  text-align: center;
  background-color: LightGray;
  -webkit-flex: 1;
  color: #f1f1f1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}
.column2 {
  color: #f1f1f1;
  text-align: center;
  background-color: LightGray;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}
.column3 {
  color: #f1f1f1;
  text-align: center;
  background-color: LightGray;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  text-align: center;
  background-color: #bbb8b8;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.p {
  color: black;
  text-align: center;
}
.h1 {
  text-align: center;
}
.h2 {
  text-align: center;
}

.log {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.regis {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.buttonregis {
  margin: 10px;
  color: white;
  background-color: green;
  border: 0;
  box-shadow: 0 8px 6px -6px black;
}
.buttonregisup {
  margin: 10px;
  color: white;
  background-color: #ff4b2b;
  border: 0;
  box-shadow: 0 8px 6px -6px black;
}
.buttonproductdelete {
  margin: 10px;
  border-radius: 20px;
  border: 10px;
  text-align: center;
  background-color: red;
  box-shadow: 0 8px 6px -6px black;
}
.buttonproductupdate {
  margin: 10px;
  border-radius: 20px;
  border: 10px;
  text-align: center;
  background-color: rgba(0, 162, 255, 0.712);
  box-shadow: 0 8px 6px -6px black;
}
.buttonproductby {
  margin: 10px;
  border-radius: 20px;
  border: 10px;
  text-align: center;
  background-color: rgb(8, 202, 73);
  box-shadow: 0 8px 6px -6px black;
}
.buttonproduct {
  margin: 10px;
  border-radius: 20px;
  border: 10px;
  text-align: center;
  background-color: rgb(8, 202, 73);
  box-shadow: 0 8px 6px -6px black;
}
.formproduct {
  padding: 5px;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  border: 1px;
  width: 300px;
}
.image {
  text-align: center;
}
.buttonpayment {
  text-align: center;
  margin: 10px;
  color: white;
  background-color: #12af12;
  border-radius: 20px;
  box-shadow: 0 8px 6px -6px black;
  width: 15%;
  border: 0;
}
